body{
    background: rgb(255, 251, 252);
}

/* h1{
    color: rgb(0, 26, 255);
    font-size: 38px;
} */

.mytext{
    color: cadetblue;
}

a{
    text-decoration: none;
    color: rgb(0, 26, 255);
}

a:hover{
    color: rgb(92, 108, 251);
}

nav{
    background: #eee; /*  background - цвет фона */
    border: 1px solid rgb(71, 86, 121);  /* border - обводка */
}

.pic1{
    width: 25%;  /* width -  ширина в данном случае картинки  */
    margin: 2%;  /* margin - внешний отступ */
    border-radius: 10px; /* border-radius - скругление углов */
}